"""
====================================================================
Decision trees on the play-golf dataset
====================================================================
Mahmood Amintoosi

"""

In [1]:

print(__doc__)

import numpy as np
import matplotlib.pyplot as plt

import pandas as pd

Automatically created module for IPython interactive environment

In [23]:
df = pd.read_csv('../dataset/playgolf.csv')

In [24]:
print(df)

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [25]:
# data['Play Golf']
S = df['Play Golf']
print(type(S),len(S))
p1 = sum(S=='Yes')/len(S)
p2 = sum(S!='Yes')/len(S)
print(p1,p2)

<class 'pandas.core.series.Series'> 14
0.6428571428571429 0.35714285714285715

In [26]:
E = -p1*np.log2(p1) - p2*np.log2(p2)
print(E)

0.9402859586706311

In [27]:
def entropy(x):
    p1 = sum(x=='Yes')/len(x)
    p2 = sum(x!='Yes')/len(x)
    E = -p1*np.log2(p1) - p2*np.log2(p2)
    return E

In [17]:
print(entropy(S))

0.9402859586706311

In [36]:
entropy(df[df['Outlook']=='Rainy']['Play Golf'])

0.9709505944546686

In [37]:
entropy(df[df['Outlook']=='Overcast']['Play Golf'])

nan

In [41]:
p1 = 0
log2_p1 = 0 if np.isinf(np.log2(p1)) else  np.log2(p1)
log2_p1

0

In [28]:
df['Outlook']

0        Rainy
1        Rainy
2     Overcast
3        Sunny
4        Sunny
5        Sunny
6     Overcast
7        Rainy
8        Rainy
9        Sunny
10       Rainy
11    Overcast
12    Overcast
13       Sunny
Name: Outlook, dtype: object

In [31]:
df[df['Outlook']=='Sunny']

   Outlook  Temp Humidity  Windy Play Golf
3    Sunny  Mild     High  False       Yes
4    Sunny  Cool   Normal  False       Yes
5    Sunny  Cool   Normal   True        No
9    Sunny  Mild   Normal  False       Yes
13   Sunny  Mild     High   True        No

In [33]:
S = df[df['Outlook']=='Sunny']['Play Golf']

In [34]:
entropy(S)

0.9709505944546686