Orange3-Associate

https://orange3-associate.readthedocs.io/en/latest/scripting.html

In [46]:
!pip install Orange3-Associate

In [47]:
!wget https://github.com/biolab/orange2/raw/master/Orange/datasets/market-basket.basket

--2023-05-28 10:34:25--  https://github.com/biolab/orange2/raw/master/Orange/datasets/market-basket.basket
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/biolab/orange2/master/Orange/datasets/market-basket.basket [following]
--2023-05-28 10:34:25--  https://raw.githubusercontent.com/biolab/orange2/master/Orange/datasets/market-basket.basket
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 119 [text/plain]
Saving to: ‘market-basket.basket.2’

market-basket.baske 100%[===================>]     119  --.-KB/s    in 0s

2023-05-28 10:34:25 (5.67 MB/s) - ‘market-basket.basket.2’ saved [119/119]

In [48]:
import Orange
data = Orange.data.Table("market-basket.basket")
print(data)

[[Bread=1, Milk=1],
 [Bread=1, Diapers=1, Beer=1, Eggs=1],
 [Milk=1, Diapers=1, Beer=1, Cola=1],
 [Bread=1, Milk=1, Diapers=1, Beer=1],
 [Bread=1, Milk=1, Diapers=1, Cola=1]]

In [49]:
# data = Orange.data.Table('zoo')

In [50]:
from orangecontrib.associate.fpgrowth import *

In [51]:
X, mapping = OneHot.encode(data, include_class=True)

In [52]:
X

[[0, 1], [0, 2, 3, 4], [1, 2, 3, 5], [0, 1, 2, 3], [0, 1, 2, 5]]

In [53]:
frequent_itemsets(X, .4)

In [54]:
itemsets = dict(frequent_itemsets(X, 0.5))
print(len(itemsets))
itemsets

8

{frozenset({0}): 4,
 frozenset({1}): 4,
 frozenset({0, 1}): 3,
 frozenset({2}): 4,
 frozenset({0, 2}): 3,
 frozenset({1, 2}): 3,
 frozenset({3}): 3,
 frozenset({2, 3}): 3}

mlxtend

apriori: Frequent itemsets via the Apriori algorithm

https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/

In [55]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [56]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [57]:
from mlxtend.frequent_patterns import apriori

# %timeit -n 100 -r 10 apriori(df, min_support=0.6, use_colnames=True)
apriori(df, min_support=0.6, use_colnames=True)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Eggs, Onion, Kidney Beans)