
M. Amintoosi
<div align="right" dir="rtl">
برنامه‌ی تولید تمام مولکول‌های با طول
n
متشکل از
k
ایزوتوپ یک عنصر خاص
</div>

In [1]:
def print_table(n, k):
    # n: The length of our string, مولکول‌ها چندتایی می‌خوان باشن؟
    # k: number of isotops, تعداد ایزوتوپ‌ها
    table = []
    for i in range(k**n):
        base_k = base_convert(i, k).zfill(n)
        values = [str(int(b)) for b in base_k]
        found = False
        for row in table:
            if values == row[::-1]:
                found = True
                break
        if not found:
            table.append(values)
    return table

def base_convert(number, base):
    if number < base:
        return str(number)
    else:
        return base_convert(number // base, base) + str(number % base)

In [2]:
# برای مثال هیدروژن:
t = print_table(2,3)
print('Number of rows: ', len(t))
for row in t:
    print(" ".join(str(v) for v in row))

Number of rows:  6
0 0
0 1
0 2
1 1
1 2
2 2

In [3]:
# برای مثال اکسیژن
t = print_table(3,3)
print('Number of rows: ', len(t))
for row in t:
    print(" ".join(str(v) for v in row))

Number of rows:  18
0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 1
1 0 2
1 1 1
1 1 2
1 2 1
1 2 2
2 0 2
2 1 2
2 2 2